
@{
    ViewBag.Title = "Etiquette";
}

<!DOCTYPE html>
<html>
<body>
    <br />
    <h2>Dog Park Etiquette</h2>
    <hr />
    <h4><i>Some guidelines to keep you and your dog happy</i></h4>
    <br>
    <div class="row">
        <div class="col-md-8">
            <iframe src="http://www.dogpark.com/dog-park-etiquette/" width="725" height="1000"></iframe>
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/dogs.jpg" width="500" height="800" />
        </div>
    </div>
</body>
</html>