@{
    ViewBag.Title = "FirstAid";
}

<!DOCTYPE html>
<html>
<body>
    <br />
    <h2>Emergency First Aid</h2>
    <hr />
    <h4><i>Should your furry friend become sick or injured</i></h4>
    <br>
    <div class="row">
        <div class="col-md-8">
            <iframe src="http://www.petmd.com/pet-emergency?icn=TopNav&icl=2_emergency" width="725" height="1000"></iframe>
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/dogs1.jpg" width="500" height="800" />
        </div>
    </div>
</body>
</html>

